.blog{
    width: 65%;
    min-height: 325px;
    padding-top: 20px;
    background-color: white;
    border-color:black;
    border-radius: 15px;
    display: inline;
    float: left;
    border: 1px solid #efecec;
    
}

body{
    background-color: #f9f9f9 ;
}